data/2018.csv
data/2019.csv
data/2020.csv
data/2021.csv
data/2022.csv
data/lei_list.csv
data/final_clean.csv
data/final_clean_backup.csv
data/final_clean_bak.csv
data/final_clean2.csv
data/JP Morgan_2022_clean.csv
data/JP Morgan_2022_conventional.csv
data/lien{}_loan{}_year{}.csv
data/Navy Federal Credit Union_2018_conventional.csv
src/clean_data.py
src/chunk.ipynb
src/final_clean.csv
src/hmda_api.py
src/Untitled-1.ipynb
src/Untitled-2.ipynb
data/Navy Federal Credit Union_2019_conventional.csv
data/Navy Federal Credit Union_2020_conventional.csv
data/Navy Federal Credit Union_2021_conventional.csv
data/Navy Federal Credit Union_2022_conventional.csv
data/Navy Federal Credit Union_2022_conventional_bak.csv
data/Navy Federal Credit Union_2022_clean.csv
data/Navy Federal Credit Union_2023_conventional.csv
data/Navy Federal Credit Union_2023_clean.csv
data/Bank of America_2019_conventional.csv
data/Bank of America_2020_conventional.csv
data/Bank of America_2021_conventional.csv
data/Bank of America_2022_conventional.csv
data/Bank of America_2022_clean.csv
data/Bank of America_2023_conventional.csv
data/Bank of America_2023_clean.csv
data/JP Morgan_2019_conventional.csv
data/JP Morgan_2020_conventional.csv
data/JP Morgan_2021_conventional.csv
data/JP Morgan_2022_conventional.csv
data/JP Morgan_2023_conventional.csv
data/JP Morgan_2023_clean.csv
data/Wells Fargo_2018_conventional.csv
data/Wells Fargo_2019_conventional.csv
data/Wells Fargo_2020_conventional.csv
data/Wells Fargo_2021_conventional.csv
data/Wells Fargo_2022_conventional.csv
data/Wells Fargo_2022_clean.csv
data/Wells Fargo_2023_conventional.csv
data/Wells Fargo_2023_clean.csv
data/Rocket Mortgage_2019_conventional.csv
data/Rocket Mortgage_2020_conventional.csv
data/Rocket Mortgage_2021_conventional.csv
data/Rocket Mortgage_2022_conventional.csv
data/Rocket Mortgage_2022_clean.csv
data/Rocket Mortgage_2023_conventional.csv
data/Rocket Mortgage_2023_clean.csv
src/exp.ipynb
data/sepher2.0_cleaned.csv
data/sepher2.0_cleaned_dataDictionary_20211123.xlsx
data/cluster_mem
data/mcaNd.csv
data/mca3d.csv
data/mca2d.csv
data/3dmca.csv
data/single_basket.csv
data/clustered_data.csv
data/ARM_by_confidence.csv
data/ARM_by_lift.csv
data/ARM_by_support.csv
data/ARM_single_basket.csv
data/2dpca.csv
data/3dpca.csv
data/final_clean_r2.csv
quarto_files/Other Notes.md
data/bnbRandTest.csv
data/cnb_npc.csv
data/cnb_pc.csv
data/cnbRandTest.csv
data/data-one-hot.csv
data/data-one-hot-npc.csv
data/dtRandTest.csv
data/LogRegDiffStats.csv
data/logRegRandTest.csv
data/mca-Nd-ColCont.csv
data/mca-Nd-eig.csv
data/mcaNd-npc.csv
data/mca-Nd-npc-ColCont.csv
data/mca-Nd-npc-eig.csv
data/mnb_npc.csv
data/mnb_pc.csv
data/mnbRandTest.csv
data/model_score_distributions.csv
data/testgraph
data/two_tailed_z_tests.csv
src/MCA.ipynb
